:root{
  font-size: 24px;
}

html,
body {
  background: url(../img/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fredoka One', cursive;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.randomNumber{
   text-align: center;
   position: relative;
   font-size: 100px;
}

.buttonRandom{
   padding-top : 20%;
   text-align: center;
}

.minigame{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    text-align: center;
    font-size:6em;
    padding-bottom: 30px;
}

.chanceValue{
  text-align: center;
  font-size: 3em;
  padding-top:5%;
}

.finishWarning{
  padding-top : 30px;
  text-align: center;
  font-size:2em;
}

img{
    margin:0px auto;
}

@media screen and (max-width: 350px){
  .lock{
    width: 85%;
  }

  .chanceValue{
    font-size: 0.5em;
  }
}

@media screen and (max-width: 1200px){
  #theImg{
    max-width: 700%;
  }

  .lock{
    max-height: 100px;
    position: absolute;
    width: 65%;
    left: 20%;
  }

  .chanceValue{
    font-size: 1.5em;
  }

  .reward{
    padding-top: 40px;
  }
}

@media screen and (max-width: 1024px){
  #theImg{
    max-width: 75%;
  }

  .lock{
    max-height: 100px;
    position: absolute;
    width: 65%;
    left: 20%;
  }

  .chanceValue{
    font-size: 1.5em;
  }

  .reward{
    padding-top: 40px;
  }
}

@media screen and (max-width:800px){
  #theImg{
    max-width: 100%;
  }

  .lock{
    max-height: 100px;
    position: absolute;
    width: 65%;
    left: 20%;
  }

  .chanceValue{
    font-size: 1.5em;
  }

  .reward{
    padding-top: 40px;
  }
}

@media screen and (max-width: 568px) {
    .minigame {
        font-size:4em;
    }

    .finishWarning{
        font-size:1em;
        padding-top: 30%;
    }

    .buttonRandom{
       padding-top : 30%;
       text-align: center;
    }

    .lock{
      max-height: 100px;
      position: absolute;
      width: 75%;
      left: 13%;
    }

    .reward{
      padding-top: 40px;
      text-align: center;
      font-size: 2em;
      padding-bottom: 20px;
    }

    #theImg{
      max-width: 120%;
    }

    .chanceValue{
      font-size: 1.5em;
    }

    .img-title{
      content: url(../img/titlemobile.jpg);
    }
}

@media screen and (min-width: 1200px){
  #theImg{
    height: 230px;
  }

  .buttonRandom{
     padding-top : 25%;
     text-align: center;
  }

  .chanceValue{
    font-size: 2em;
  }

  .reward{
    padding-top: 100px;
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
  }

  .lock{
    max-height: 100px;
    position: absolute;
    width: 65%;
    left: 18%;
  }
}

.img-title{
  width: 100%;
  position: relative;
  top: 50px;
}

table{
    text-align: center;
    font-size: 2em;
}

.table tbody tr td {
    border: none;
    font-size: 0.6em;
}

.hideButton{
  margin-bottom: 3%;
  color: #c31818;
  background-color: white;
  border-color: #d58512;
}

.hideButton:hover{
    color: white;
    background-color:#ed6809;
    border-color: #d58512;
}

.hideButton:focus{
  color: #c31818;
  background-color: white;
  border-color: #d58512;
}

.img-sample{
  height: 25%;
  width: auto;
}

.rule-table{
  width: 60%;
  height: auto;
  margin: auto;
}

.rule-table-th{
  text-align: center;
  font-size: 16px;
}

.rule-container{
  opacity: 0.9;
}

.reward-table-tr{
  background-color: white;
  opacity: 0.8;
}

.rule-span1{
  font-size: 14px;
}

.rule-span{
  font-size: 16px;
}

.rule-table-head{
  font-size: 18px;
}

.game-area{
  height: auto;
  width: auto;
  padding: 20px;
  border: solid;
  border-radius: 15px;
  border-color: black;
}

.table-responsive::-webkit-scrollbar{
  overflow: scroll;
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar-thumb{
  border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

#top{

  padding : 20px;


}

.middle{
  text-align: center;
  overflow: hidden;
  clear:both;
  width:100%;
  display:inline-block;
  padding-bottom: 5%;
  padding-top : 5%;
  font-size: 5em;
}



.rule{
  padding-top:10px;
  color: black;
  font-size:18px;
  text-align: center;
}

#showrule{
  font-size: 18px;
  background-color: #F5EFD6;
  text-align: left;
  padding:10px;
}

/* #reward{
  position:relative;
  font-size: 14px;
  text-align: left;
  padding:10px;
  font-family: verdana;

  
} */

#rewardtable{
  font-size: 1em;
}

.chg{


  font-size:200%;
  color: black;
  padding: 8px;
  text-align: center;
  height:70px;
}


.btn-inbetween {

    border: none;

    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }


.btn-inbetween:hover {
    background-color: #555555;
    color: white;
}


#input[type=text] {
    width:8%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#input[type=text]:focus {
    border: 3px solid #555;


}

.box{
  position: absolute;
  left: 60%;
  z-index: -1;
  height: 20px;
  width: 20px;
  background-color: white;
}

.gamespan{
  text-align:center;
  padding: 10px;
  font-size: 2.5em;
}

.numberInput{
  padding: 10px;
}

.gamebutton{
  padding: 10px;
}

.game-rule-tr{
  font-size: 24px;
  text-align: center;
}